# We want to work in a dedicated environment
source activate ov_respy

# We need access to our package
export PYTHONPATH=$PWD:$PYTHONPATH

# We need access to the respy submodule
export PYTHONPATH=$PWD/submodules/respy:$PYTHONPATH

export DEV_NORPY_ROOT=$HOME/OpenSourceEconomics/dev_norpy

#We also want acces to norpy 
export PYTHONPATH=$DEV_NORPY_ROOT:$PYTHONPATH

export NORPY_ROOT=$HOME/OpenSourceEconomics/norpy

#We also want acces to norpy 
export PYTHONPATH=$NORPY_ROOT:$PYTHONPATH

#Acces to estimagic
export PYTHONPATH=$PWD/submodules/estimagic:$PYTHONPATH



