# We want to work in a dedicated environment
source activate ov_respy

# We need access to our package
export PYTHONPATH=$PWD:$PYTHONPATH

# We need access to the respy submodule
export PYTHONPATH=$PWD/submodules/respy:$PYTHONPATH
